<template lang="pug">
// TOP NAV
div(class="project-editor__top-nav-wrap"
    :class="{ 'project-editor__top-nav-wrap--full': full }")
  // TOP LEFT ITEMS
  div(class="project-editor__top-nav-items")
    div(class="project-editor__top-nav-item")
      span Pages
    div(class="project-editor__top-nav-item")
      a-icon(type="setting")
    ScriptConnectionStatus()
    EditionModeToggler()
  // TOP RIGHT ITEMS
  div(class="project-editor__top-nav-items")
    div(
      v-if="loadingIframe" 
      class="project-editor__top-nav-item" style="cursor: default!important;")
      span {{ projectName }}
    div(class="project-editor__top-nav-item")
      a-icon(style="margin-right: 10px;" type="rocket")
      span Publish
    div(class="project-editor__top-nav-item")
      a-icon(type="setting")
</template>

<script>
import ScriptConnectionStatus from './Plugins/ScriptConnectionStatus';
import EditionModeToggler from './Plugins/EditionModeToggler';

export default {
  components: {
    ScriptConnectionStatus,
    EditionModeToggler,
  },
  props: {
    full: { type: Boolean, default: false },
    projectName: { type: String, default: 'Unnamed Project' },
    loadingIframe: { type: Boolean, default: true },
  },
  methods: {},
};
</script>

<style lang="stylus" scoped>
$top-nav-height = 37px;
$left-nav-width = 34px;
$right-nav-width = 270px;

.project-editor__top-nav-wrap {
  position: absolute;
  top: 0; right: $right-nav-width;
  left: $left-nav-width;
  color: #a0aabf;
  height: $top-nav-height;
  background: #373d49;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-left: 1px solid #333;
  justify-content: space-between;
}

.project-editor__top-nav-wrap--full {
  width: 100%;
  left: 0;
  right: 0;
}

.project-editor__top-nav-items {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.project-editor__top-nav-item {
  border-right: 1px solid #333;
  min-width: 35px;
  display: flex;
  color: #a0aabf;
  padding: 0 15px;
  height: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 11pt;
  
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  
  &:hover {
    color: #fff;
  }
}
</style>
