<template lang="pug">
div(
  class="replacement-list__wrap")
  div(
    class="replacement-list__item"
    v-for="(item, key, index) in elementReplacements"
    :class="{ 'replacement-list__item--active' : activeIndex === index, 'replacement-list__item--selected' : selectedElementSelector === item.selector}"
    @click="setActive(null, index)")
    div(class="replacement-list__item-title")
      span(style="display: block;") {{ truncateItemTitle(item.elementData.elementText) }}
      span(style="display: block; color: #b1b1b1;") {{ truncateItemTitle(item.selector) }}
    div(
      v-if="activeIndex === index"
      v-for="change in groupHistoryByChangeType(item.history)"
      class="replacement-list__item-type") {{ valueType(change.type) }} ({{ change.count }})
</template>

<script>
import _ from 'lodash';
import truncate from 'truncate';

// TODO: double binding: when we mouseover an element we want it to be selected (hovered)
// in the iframe and colored in the list__item
// TODO: show element content instead of element selector (ability to switch?)
// TODO: add a reset button for eachc hange type label
export default {
  data() {
    return {
      activeIndex: 0,
    };
  },
  computed: {
    selectedElementSelector() {
      return _.get(
        this.$store.getters['editor/selectedElementData'],
        'selector',
        null,
      );
    },
    selectedElementData() {
      return this.$store.getters['editor/selectedElementData'];
    },
    elementReplacements() {
      return this.$store.getters['editor/elementReplacements'];
    },
  },
  methods: {
    truncateItemTitle(text) {
      return truncate(text, 41);
    },
    setActive(selector, index) {
      this.activeIndex = index;
    },
    groupHistoryByChangeType(history) {
      const obj = {};
      history.forEach(e => {
        if (!obj[e.type]) {
          obj[e.type] = { type: e.type, history: [], count: 0 };
        }
        obj[e.type].history.push(e);
        obj[e.type].count += 1;
      });
      return Object.values(obj);
    },
    valueType(type) {
      const map = {
        replaceByHtml: 'Content modified',
      };
      return map[type] || '';
    },
  },
};
</script>

<style lang="stylus" scoped>
.replacement-list__wrap {
  display: flex;
  flex-direction: column;
}

.replacement-list__item {
  font-size: 11px;
  padding: 2px 8px;
  border-bottom: 1px solid #1d2027;
  &:hover {
    background: darken(#373d49, 4);
  }
}

.replacement-list__item-title {
  margin-right: 10px;
  /* background: #0e64cc; */
  padding: 2px 0px;
  margin: 2px;
  border-radius: 2px;
}

.replacement-list__item-type {
  display: inline-block;
  margin-right: 10px;
  background: #b16224;
  padding: 2px 8px ;
  margin: 2px;
  margin-bottom: 5px;
  border-radius: 2px;
}

.replacement-list__item--active {
  background-color: #52525278;
}
.replacement-list__item--selected {
  border: 1px solid #008afa;
}
</style>
