<template lang="pug">
div(
  class="editor"
  :class="{ 'editor--preview': !$store.getters['editor/isModeEdition'] }"
  style="background: #282d38; overflow-y: auto; width: 100%; height: 100%;")
  div(v-if="loading" class="project-edition-main-loading-wrap")
    app-heading(tagName="h2" size="medium" theme="light") {{ loadingText }}
    a-icon(type="loading" spin style="font-size: 40pt;")
  EditorTopNav(:full="!$store.getters['editor/isModeEdition']")
  EditorLeftNav(v-show="$store.getters['editor/isModeEdition']")
  EditorRightNav(v-show="$store.getters['editor/isModeEdition']")
  // PAGE CONTENT
  div(v-if="!project.websiteUrl" class="project-edition-wrap")
    div(v-if="!loading")
      app-heading(tagName="span" size="medium" theme="light") Add your project Home Page URL
      app-intro(
        v-if="isNotReachable" 
        tagName="span" 
        size="small" 
        theme="danger")
        a-icon(type="cross")
        span Ouch! This website does not seems reachable...
      div(style="height: 30px;")
      app-simple-form(
        style="width: 290px; margin: 0 auto;"
        :fields="fields"
        @onSubmit="updateProjectUrl"
        submitButtonText="Start editing my website"
        submitIconRight="right")
  vue-friendly-iframe(
    v-if="project.websiteUrl"
    @load="loadingIframe = false"
    :src="`${project.websiteUrl}?editableSessionId=${sessionId}`"
    className="editable-frame")
</template>

<script>
import VueFriendlyIframe from 'vue-friendly-iframe';
import uuid from 'uuid/v1';
import AppSimpleForm from '~/components/AppSimpleForm';
import AppHeading from '~/components/AppHeading';
import AppIntro from '~/components/AppIntro';
import EditorTopNav from '~/components/Editor/EditorTopNav/Index';
import EditorLeftNav from '~/components/Editor/EditorLeftNav/Index';
import EditorRightNav from '~/components/Editor/EditorRightNav/Index';
import api from '~/api';
import { cleanUrl } from '~/helpers';

export default {
  layout: 'editor',
  components: {
    VueFriendlyIframe,
    AppSimpleForm,
    AppHeading,
    AppIntro,
    EditorTopNav,
    EditorLeftNav,
    EditorRightNav,
  },
  // TODO: enlever le champ nom et le rendre edtiable dans la topbar.
  // TODO: afficher un message: 'No Home Page URL' avec un bouton start editing my website.
  // TODO: mettre l'item "page" à Page:home une fois que la home page est ajoutée.
  // TODO: mettre un panel à droite permettant d'éditer la couleur de fond et le css ?
  // TODO: mettre un mode preview generic comme sur webflow qui emphase le contenu
  // TODO: réfléchir à commencer gérer une pool d'actions pour assurer une communication real time entre les deux trucs
  data() {
    const vm = this;
    return {
      sessionConnected: false,
      loadingIframe: true,
      loading: false,
      loadingText: '',
      isNotReachable: false,
      project: {},
      selectedElementData: null, // TODO only for testing purpose
      commands: {
        editionMode: true,
      },
      fields: [
        {
          type: 'input-link',
          key: 'websiteUrl',
          inputType: 'input',
          placeholder: 'project-page.com',
          icon: 'link',
          options: {
            rules: [
              {
                required: true,
                message: 'Please input the homepage url',
              },
            ],
          },
        },
      ],
    };
  },
  computed: {
    sessionId() {
      return this.$store.getters['editor/sessionId'];
    },
  },
  async mounted() {
    this.startLoading('Loading project');
    const project = await api.projects.getProjectById(this.$route.params.id);
    this.project = project;
    this.stopLoading();
    if (project && project.websiteUrl) {
      this.onProjectWebsiteUrl(project.websiteUrl);
      this.startLoading('Importing website...');
      setTimeout(() => {
        this.stopLoading();
      }, 2000);
    }
    this.project = project;
    this.$store.dispatch('editor/setSessionId', uuid());
  },
  methods: {
    onProjectWebsiteUrl(url) {
      this.setCurrentWebPageUrl(url);
      this.listenMessages(url);
    },
    setCurrentWebPageUrl(url) {
      this.$store.dispatch('editor/setCurrentWebPageUrl', url);
    },
    listenMessages(url) {
      window.addEventListener('message', event => {
        console.log('e', event);
        if (cleanUrl(event.origin) !== cleanUrl(url)) {
          return;
        }
        const message = event.data;
        if (!message.name) {
          return;
        }
        switch (message.name) {
          case 'elementSelected':
            console.log('element selected--front');
            this.$store.dispatch(
              'editor/setSelectedElementData',
              message.value,
            );
            break;
          case 'elementChanged':
            console.log('element changed');
            this.$store.dispatch(
              'editor/pushElementReplacement',
              message.value,
            );
            break;
          default:
            return;
        }
      });
    },
    startLoading(text) {
      this.loadingText = text;
      this.loading = true;
    },
    stopLoading() {
      this.loadingText = '';
      this.loading = false;
    },
    async isUrlReachable(url) {
      const reachable = await api.projects.isUrlReachable(url);
      return reachable;
    },
    async updateProjectUrl({ websiteUrl }) {
      let url = websiteUrl;
      if (url.indexOf('http://') === -1 && url.indexOf('https://') === -1) {
        url = `http://${url}`;
      }
      this.startLoading('Testing url reachability...');
      const reachable = await this.isUrlReachable(url);
      this.stopLoading();
      if (reachable) {
        this.startLoading('Importing website...');
        this.project.websiteUrl = url;
        this.onProjectWebsiteUrl(url);
        api.projects.updateProjectUrlById(this.project.id, url);
        setTimeout(() => {
          this.stopLoading();
        }, 2000);
      }
      this.isNotReachable = !reachable;
    },
  },
};
</script>

<style lang="stylus">
$top-nav-height = 37px;
$left-nav-width = 34px;
$right-nav-width = 270px;

.vue-friendly-iframe {
  position: absolute;
  left: $left-nav-width;
  right: $right-nav-width;
  top: $top-nav-height;
  bottom: 0px;
  height: 100%;
}

.editor--preview .vue-friendly-iframe {
  width: 100%;
  left: 0;
  right: 0;
}

.project-edition-wrap {
  position: absolute;
  left: $left-nav-width;
  right: $right-nav-width;
  top: $top-nav-height;
  bottom: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.editable-frame {
  width: 100%;
  /* Firefox */
  height: -moz-calc(100% - 37px);
  /* WebKit */
  height: -webkit-calc(100% - 37px);
  /* Opera */
  height: -o-calc(100% - 37px);
  /* Standard */
  height: calc(100% - 37px);
  border: none;
}

.project-edition-main-loading-wrap {
  position: fixed;
  top: $top-nav-height;
  left: $left-nav-width;
  bottom: 0; right: $right-nav-width;
  background: #303541eb;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: 999;
}
</style>
