<template lang="pug">
div(
  class="app-button"
  :class="`app-button--${type} app-button--${size}`"
  @click="$emit('click')")
  a-spin(:spinning="loading")
    a-icon(v-if="iconLeft" style="margin-right: 10px;" :type="iconLeft")
    a-icon(slot="indicator" type="loading" style="font-size: 24px; color: white;")
    <slot/>
    a-icon(v-if="iconRight" style="margin-left: 10px;" :type="iconRight")
</template>

<script>
export default {
  props: {
    type: { type: String, default: 'primary' },
    loading: { type: Boolean, default: false },
    isSubmit: { type: Boolean, default: false }, // Todo
    iconRight: { type: String, default: '' },
    iconLeft: { type: String, default: '' },
    size: { type: String, default: 'normal' },
  },
};
</script>

<style lang="stylus" scoped>
.app-button {
  color: #0c3254;
  background: #fff;
  padding: 10px 20px 12px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
  text-align: center;
}

.app-button--primary {
  color: #fff;
  background-color: #377FEA;
}

.app-button--white {
  color: #377FEA;
  background-color: #fff;
}

.app-button--mini {
  padding: 3px;
}
</style>
