<template lang="pug">
div(class="app-color-picker")
  a-popover(
    trigger="click"
    v-model="active")
    template(slot="content")
      div()
        div(class="app-color-picker__save-button")
          AppButton(
            size="mini" 
            style="width: 95%; margin: 0 auto;"
            @click="active = false") Ok
        chrome-picker(
          :value="selectedColor"
          @input="changeColor")
    div(class="app-color-picker__inline")
      div(
        @click="clicked"
        class="color-picker__color-preview"
        :style="{ backgroundColor: selectedColor }")
      a-input(
        @click="prevent"
        class="color-picker__color-input" 
        size="small"
        v-model="selectedColor")
</template>

<script>
import { Chrome } from 'vue-color';
import AppButton from '@/components/AppButton';

export default {
  components: {
    'chrome-picker': Chrome,
    AppButton,
  },
  props: {
    color: { type: String, default: 'None' },
    disabled: { type: Boolean, default: false },
  },
  data() {
    return {
      selectedColor: this.color,
      active: false,
    };
  },
  watch: {
    color(val) {
      this.selectedColor = val;
    },
  },
  mounted() {
    this.selectedColor = this.color;
  },
  methods: {
    clicked(e) {
      if (this.disabled) {
        this.prevent(e);
      }
    },
    changeColor(color) {
      this.selectedColor = color.hex8;
      this.$emit('colorSelected', color.hex8);
    },
    prevent(e) {
      if (this.active) {
        this.active = false;
      }
      e.preventDefault();
      e.stopPropagation();
    },
  },
};
</script>

<style lang="stylus">
.app-color-picker__save-button {
  height: 33px;
  background: #fff;
  position: absolute;
  bottom: -21px;
  right: auto;
  left: auto;
  width: 225px;
}
.app-color-picker__inline {
  display: flex;
}

.color-picker__color-preview {
  width: 28px;
  height: 28px;
  border: 1px solid black;
  border-right: none;
  border-radius: 3px 0 0 3px;
}

.color-picker__color-input {
  background: #242731;
  border-radius: 0 3px 3px 0;
  border: solid 1px black;
  height: 28px;
  display: flex;
  color: #fafbfb;
  width: 120px;
}

.ant-popover-inner {
  background: none!important;
  box-shadow: none!important;
}
</style>
