<script>
/* eslint-disable */
export default {
  props: {
    ['tag-name']: {
      type: String,
      required: true,
    },
    styles: {
      type: String,
      default: ''
    },
    theme: {
      type: String,
      default: 'normal', // primary, normal, light
    },
    size: {
      type: String,
      default: 'huge', // huge, large, medium, small
    },
  },
  render(createElement) {
    return createElement(
      this.tagName,
      {
        attrs: {
          style: this.styles,
          class: `app-heading app-heading--${this.theme} app-heading--${this.size}`
        }
      },
      this.$slots.default
    )
  }
}
</script>

<style scoped>
.app-heading {
  color: #101010;
  font-family: 'Lato', sans-serif;
  font-size: 43pt;
  line-height: 55pt;
  font-weight: 300;
  text-align: left;
  margin-bottom: 20px;
}

/* theme */
.app-heading--primary {
  color: #1f2577;
}
.app-heading--normal {
  color: #101010;
}
.app-heading--light {
  color: #d8d8d8;
}
/* size */
.app-heading--huge {
  font-size: 43pt;
}
.app-heading--large {
  font-size: 33pt;
  line-height: 30pt;
}
.app-heading--medium {
  font-size: 23pt;
  line-height: 26pt;
}
.app-heading--small {
  font-size: 16pt;
  line-height: 20pt;
}
</style>
