<script>
/* eslint-disable */
export default {
  props: {
    ['tag-name']: {
      type: String,
      required: true,
    },
    styles: {
      type: String,
      default: '',
    },
    theme: {
      type: String,
      default: '', // danger
    },
    size: {
      type: String,
      default: 'small', // huge, large, medium, small
    },
  },
  render(createElement) {
    return createElement(
      this.tagName,
      {
        attrs: {
          style: this.styles,
          class: `app-intro app-intro--${this.size} app-intro--${this.theme}`
        }
      },
      this.$slots.default
    )
  }
}
</script>

<style scoped>
.app-intro {
  color: #0b3154;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16pt;
  display: block;
}

/* theme */
.app-intro--danger {
  color: #ff0043;
}

/* size */
.app-intro--huge {
  font-size: 43pt;
}
.app-intro--large {
  font-size: 33pt;
  line-height: 30pt;
}
.app-intro--medium {
  font-size: 23pt;
  line-height: 26pt;
}
.app-intro--small {
  font-size: 16pt;
  line-height: 22pt;
}
</style>
