<template lang="pug">
div(class="app-jumbotron")
  <slot/>
</template>

<script>
export default {};
</script>

<style lang="stylus" scoped>
.app-jumbotron {
  position: relative;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  display: flex;
  overflow-y: auto;
  background: #fff;
  -webkit-box-shadow: 0 5px 15px -5px rgba(0,0,0,.1);
  -moz-box-shadow: 0 5px 15px -5px rgba(0,0,0,.1);
  box-shadow: 0 5px 15px -5px rgba(0,0,0,.1);
  margin-top: 70px;
}
</style>
