<template lang="pug">
div(
  class="app-main-navigation"
  :class="{ 'app-main-navigation--opaque': !transparent, 'app-main-navigation--relative': relative, 'app-main-navigation--blue':  theme === 'blue'}")
  app-container(noPadding)
    div(style="display: flex; justify-content: space-between")
      div(class="app-main-navigation__wrap")
        div(
          v-if="logo"
          class="app-main-navigation__item")
          div(:class="`${theme === 'blue' ? 'app-main-navigation__logo-rb' : 'app-main-navigation__logo'}`")
          
        div(
          class="app-main-navigation__item"
          v-for="item in leftItems"
          :class="{ 'app-main-navigation__item--active': matchesRouteName(item.routeName) }"
          :key="item.key")
          div(
            v-if="item.type === 'title'"
            class="app-main-navigation__item-title")
            span {{ item.name }}
          div(
            v-if="!item.type || item.type === 'link'"
            class="app-main-navigation__item")
            a(
              class="app-main-navigation__item-link"
              @click="item.onClick") {{ item.name }}
          app-button(
            v-if="item.type === 'button'"
            :type="item.buttonType"
            @click="item.onClick"
            :iconRight="item.iconRight"
            :iconLeft="item.iconLeft") {{ item.name }}
      div(class="app-main-navigation__wrap")
        div(
          v-for="item in rightItems"
          :key="item.key")
          app-button(
            v-if="item.type === 'button'"
            style="margin-right: 20px;"
            :type="item.buttonType"
            @click="item.onClick"
            :iconRight="item.iconRight"
            :iconLeft="item.iconLeft") {{ item.name }}
          div(
            v-if="item.type === 'link'"
            class="app-main-navigation__item")
            a(
              class="app-main-navigation__item-link"
              @click="item.onClick") {{ item.name }}
          div(
            v-if="item.type === 'html'"
            @click="item.onClick"
            class="app-main-navigation__item"
            v-html="item.html")
        
</template>

<script>
import { mapGetters } from 'vuex';
import AppContainer from '~/components/AppContainer';
import AppButton from '~/components/AppButton';

export default {
  components: { AppContainer, AppButton },
  props: {
    logo: { type: Boolean, default: true },
    leftItems: { type: Array, default: () => [] },
    rightItems: { type: Array, default: () => [] },
    transparent: { type: Boolean, default: false },
    relative: { type: Boolean, default: false },
    theme: { type: String, default: 'white' },
  },
  computed: {
    currentRouteName() {
      return this.$route.name;
    },
    ...mapGetters({
      isAuthenticated: 'auth/isAuthenticated',
    }),
  },
  methods: {
    matchesRouteName(name) {
      if (this.currentRouteName) {
        const current = this.currentRouteName.split('__')[0];
        return current === name;
      }
      return false;
    },
  },
};
</script>

<style lang="stylus">
.app-main-navigation {
  padding: 4;
  height: 68px;
  position: fixed;
  top: 0; right: 0; left: 0;
  z-index: 999;
}

.app-main-navigation--relative {
  position: relative!important;
}

.app-main-navigation--opaque {
  background: #fff!important;
  border-bottom: 1px solid #ebebeb;
}
.app-main-navigation--opaque .app-main-navigation__item-link {
  color: #0c3254!important;
}
.app-main-navigation--opaque .app-main-navigation__item-btn {
  color: #fff;
  background-color: #377FEA;
}

.app-main-navigation--blue {
  background: #377fea!important;
}
.app-main-navigation--blue .app-main-navigation__item-link {
  color: #fff!important;
}
.app-main-navigation--blue .app-main-navigation__item-btn {
  color: #377fea;
  background-color: #fff;
}

.app-main-navigation__wrap {
  height: 68px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.app-main-navigation__item {
  font-size: 1em;
  letter-spacing: 1px;
  line-height: 65px;
  padding: 0 10px 1px;
  display: flex;
  &:hover {
    text-decoration: underline;
  }
}

.app-main-navigation__item--active .app-main-navigation__item-link {
  font-weight: bold;
}
.app-main-navigation__item--active .app-main-navigation__item-link:hover {
  text-decoration: none!important;
}

.app-main-navigation__item-link {
  font-size: 1em;
  letter-spacing: 1px;
  color: #fff;
  &:hover {
    color: #1b1b1b;
  }
}

.app-main-navigation__item-btn {
  margin-right: 10px;
  color: #0c3254;
  background: #fff;
  padding: 10px 20px 12px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
}

.app-main-navigation__item-title {
  color: #0b3154;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16pt;
  display: block;
}

.app-main-navigation__logo {
  width: 120px;
  height: 40px;
  margin-right: 50px;
  background: url('~assets/images/editable-logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.app-main-navigation__logo-rb {
  width: 120px;
  height: 40px;
  margin-right: 50px;
  background: url('~assets/images/editable-logo-rb.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
</style>
