<template lang="html">
  <!-- eslint-disable -->
  <div class="center text-center">
    <div class="center text-center">
      <div v-for="option in options" :style="`width: ${option.width || '170px'}`":key="option.value" @click="select(option.value)" class="image-button" :class="{ 'selected': (selected.indexOf(option.value) !== -1) }">
        <div :style="`background-image: url(${option.image})`" class="image-button__image"></div>
        <span class="image-button__text">{{ option.label }}</span>
      </div>
      <div style="height: 50px;"/>
      <app-button v-if="showSubmit" @click="handleSubmit">{{ submitButtonText }}</app-button>
    </div>
  </div>
</template>

<script>
import AppButton from '~/components/AppButton';

/* eslint-disable */
export default {
  components: { AppButton },
  props: {
    submitButtonText: {
      type: String,
      required: true,
    },
    options: {
      type: Array,
      required: true,
    },
    minSelected: {
      type: Number,
      default: 0,
    },
    defaultSelected: {
      type: Array,
      required: false,
      default: () => [],
    },
  },
  mounted() {
    this.selected = this.defaultSelected;
  },
  data() {
    return {
      selected: this.defaultSelected,
    };
  },
  computed: {
    showSubmit() {
      return this.selected.length >= this.minSelected;
    },
  },
  methods: {
    handleSubmit() {
      this.$emit('onSubmit', this.selected);
    },
    select(value) {
      const index = this.selected.indexOf(value);
      console.log('select value', value, index);
      if (index === -1) {
        this.selected.push(value);
      } else {
        this.selected.splice(index, 1);
      }
      this.$emit('selected', this.selected);
    },
  },
};
</script>

<style lang="stylus" scoped>
.image-button {
  position: relative;
  padding: 35px;
  border: 1px solid whitesmoke;
  border-radius: 3px;
  box-shadow: 2px 2px 6px rgba(136, 135, 135, 0.5);
  text-align: center;
  display: inline-block;
  margin: 15px;
  transition: 0.25s;
  background: #fff;
  &:hover {
    box-shadow: 2px 2px 6px rgba(136, 135, 135, 0.8);
    transform: translateY(-0.25em);
    cursor: pointer;
  }
}

.image-button.selected {
  border: 3px solid #0093ff;
}

.image-button__tooltip-icon {
  position: absolute;
  top: 10px; left: 10px;
  color: #bbbbe0;
  font-size: 22px;
}

.image-button__image {
  width: 100%;
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
}

.image-button__text {
  margin-top: 15px;
  display: block;
  font-size: 20px;
  color: black;
}
</style>
