<template lang="pug">
div(class="app-multiple-steps-simple-form")
  app-heading(
    v-if="currentStep.heading"
    theme="primary" 
    size="large" 
    tag-name="h1" 
    style="text-align: center") {{ currentStep.heading }}
  app-jumbotron(style="jumbotronStyle" v-if="!currentStep.type || currentStep.type === 'simple-form'")
    // Simple form
    app-simple-form(
      :style="formStyle"
      :fields="currentStep.fields"
      :submitButtonText="currentStep.submitButtonText"
      :loading="loading"
      @onSubmit="handleSubmit"
      @onError="handleSubmitError")
        
  // Multiple Image Choices
  app-multiple-image-choices(
  v-if="currentStep.type === 'multiple-image-choices'"
  @onSubmit="handleSubmit"
  :submitButtonText="currentStep.submitButtonText"
  :minSelected="currentStep.minSelected"
  style="text-align: center; margin-top: 110px;"
  :options="currentStep.options")
</template>

<script>
import AppSimpleForm from '~/components/AppSimpleForm';
import AppJumbotron from '~/components/AppJumbotron';
import AppHeading from '~/components/AppHeading';
import AppMultipleImageChoices from '~/components/AppMultipleImageChoices';

export default {
  components: {
    AppSimpleForm,
    AppJumbotron,
    AppHeading,
    AppMultipleImageChoices,
  },
  props: {
    steps: { type: Array, required: true },
    jumbotronStyle: { type: String, default: '' },
    formStyle: { type: String, default: '' },
  },
  data() {
    return {
      loading: false,
      currentStepIndex: 0,
    };
  },
  computed: {
    currentStep() {
      return this.steps[this.currentStepIndex];
    },
  },
  methods: {
    handleSubmitError(err) {
      this.$emit('onError', {
        stepIndex: this.currentStepIndex,
        stepKey: this.currentStep.key || null,
        error: err,
      });
    },
    handleSubmit(values) {
      if (this.currentStepIndex < this.steps.length - 1) {
        this.$emit('onNextStep', {
          stepIndex: this.currentStepIndex,
          stepKey: this.currentStep.key || null,
          values: values,
        });
        this.currentStepIndex += 1;
      } else {
        this.$emit('onLastStep', {
          stepIndex: this.currentStepIndex,
          stepKey: this.currentStep.key || null,
          values: values,
        });
      }
    },
  },
};
</script>

<style lang="stylus" scoped>
</style>
