<template lang="pug">
a-card(
  hoverable
  @mouseover="isHover = true" @mouseleave="isHover = false"
  style="width: 300px; margin: 7px;")
  div(
    @click="$emit('openEditorClicked')"
    class="app-project-card__hoverable-content"
    :class="{ 'app-project-card__hoverable-content--visible': isHover }")
    span(class="app-project-card__hoverable-content-text") Open Editor
      a-icon(type="right" style="margin-left: 10px; font-size: 14pt" class="slide-right")
  img(
    alt="example"
    src="~assets/images/website-placeholder.png"
    slot="cover")
  template(class="ant-card-actions" slot="actions")
    a-icon(type="delete")
    a-icon(type="setting")
    a-icon(type="edit")
  a-card-meta(
    :title="name")
    a-avatar(
      slot="avatar"
      shape="square"
      size="large"
      :style="{backgroundColor: 'orange', verticalAlign: 'middle'}") {{ avatarLetters(name) }}
    template(slot="description")
      div
        span {{ websiteUrl }}
      div
        a-icon(
          :class="{ 'app-project-card__published-icon': true, 'app-project-card__published-icon--published': published }"
          type="rocket")
</template>

<script>
export default {
  props: {
    name: { type: String, default: 'Unnamed Project' },
    websiteUrl: { type: String, default: 'Missing URL' },
    published: { type: Boolean, default: false },
  },
  data() {
    return {
      isHover: false,
      openMenu: true,
    };
  },
  methods: {
    avatarLetters(name) {
      if (name.length >= 2) {
        return name.substring(0, 2);
      } else if (name.length === 1) {
        return name.substring(0, 1);
      }
      return '';
    },
  },
};
</script>

<style lang="stylus" scoped>
.app-project-card__published-icon {
  margin-right: 10px; 
  margin-top: 10px;
  font-size: 14pt;
}

.app-project-card__published-icon--published {
  color: #377fea;
}

.app-project-card__hoverable-content {
  display: none;
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  position: absolute;
  top: 0;left: 0;right: 0;
  background: #00000085;
  bottom: 170px;
  color: white;
  z-index: 9;
  border-radius: 1px;
  cursor: pointer;
}
.app-project-card__hoverable-content--visible {
  display: flex;
	-webkit-animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.app-project-card__hoverable-content-text {
  font-size: 16pt;
  color: #fff;
}

/**
 * Transitions
 */

.fade-in {

}

/* ----------------------------------------------
 * Generated by Animista on 2019-1-13 15:14:41
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.slide-right {
	-webkit-animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
	        animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-1-13 15:9:31
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
            opacity: 1;
  }
  100% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
            opacity: 0;
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
            opacity: 1;
  }
  100% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
            opacity: 0;
  }
}

</style>
