<template lang="html">
  <!-- eslint-disable -->
  <section
    class="app-section"
    :class="`app-section--${theme}`"
    :style="{ 'min-height': minHeight }">
    <slot></slot>
  </section>
</template>

<script>
/* eslint-disable */
export default {
  props: {
    theme: {
      type: String,
      default: 'white'
    },
    minHeight: {
      type: String,
      default: '0%'
    }
  }
}
</script>

<style>
.app-section {
  padding: 70px 30px;
}
.app-section--white {
  background: #fff;
}
.app-section--transparent {
  background: none;
}
.app-section--light-blue {
  background: #F7F8FB;
}
.app-section--smoke {
  background: #f5f5f5;
}
</style>
