<template lang="pug">
div(class="app-spacer" :style="{width: horizontalSpace, height: verticalSpace}")
</template>

<script>
export default {
  props: {
    horizontalSpace: { type: String, default: '10px' },
    verticalSpace: { type: String, default: '10px' },
  },
};
</script>

<style lang="stylus" scoped>
</style>
