<template lang="pug">
a-form(
  @submit="handleSubmit"
  :autoFormCreate="(form) => { this.form = form }")
  template(v-if="form = form")
    a-form-item(
      v-for="field in fields"
      :key="field.key"
      :label="field.label"
      :fieldDecoratorId="field.key"
      :fieldDecoratorOptions="field.options")
      // Input
      a-input(
        v-if="field.type === 'input'"
        size="large"
        :type="field.inputType ? field.inputType : null"
        :placeholder="field.placeholder")
        a-icon(
          v-if="field.icon"
          slot="prefix" 
          :type="field.icon" 
          style="color:rgba(0,0,0,.25)")
      a-input(
        v-if="field.type === 'input-link'"
        size="large"
        addonBefore="http://" 
        :type="field.inputType ? field.inputType : null"
        :placeholder="field.placeholder")
    app-button(
      @click="handleSubmit" 
      :loading="loading" 
      :iconRight="submitIconRight"
      :iconLeft="submitIconLeft") {{ submitButtonText }}
</template>

<script>
import AppButton from '~/components/AppButton';

export default {
  components: { AppButton },
  props: {
    fields: { type: Array, required: true },
    submitButtonText: { type: String, required: true },
    submitIconLeft: { type: String, default: '' },
    submitIconRight: { type: String, default: '' },
    loading: { type: Boolean, default: false },
  },
  data() {
    return {
      form: null,
    };
  },
  methods: {
    handleSubmit() {
      this.form.validateFields((err, values) => {
        if (err) {
          this.$emit('onError', err);
        }
        if (!err) {
          this.$emit('onSubmit', values);
        }
      });
    },
  },
};
</script>

<style scoped>
</style>
