<template lang="pug">
div(
  class="font-weight-manager__wrap"
  :class="{ disabled: disabled }")
  span(style="margin-right: 10px;")
    a-icon(type="bold")
  div(
    class="font-weight-manager__body")
    a-select(
      :disabled="disabled"
      :value="selectedFontWeight"
      @change="onFontWeightSelected"
      style="width: 160px"
      class="editor-selector")
      a-select-option(
        v-for="item in weights" 
        :value="item.value" 
        :key="item.label") {{ item.label }} - {{ item.value }}
</template>

<script>
import _ from 'lodash';

export default {
  props: {
    disabled: { type: Boolean, default: false },
  },
  data() {
    return {
      selectedFontWeight: null, // Here to force new value on change
      weights: [
        { value: '100', label: 'Thin' },
        { value: '200', label: 'Extra Light' },
        { value: '300', label: 'Light' },
        { value: '400', label: 'Normal' },
        { value: '500', label: 'Medium' },
        { value: '600', label: 'Semi Bold' },
        { value: '700', label: 'Bold' },
        { value: '800', label: 'Extra Bold' },
        { value: '900', label: 'Heavy' },
      ],
    };
  },
  computed: {
    selectedElement() {
      return this.$store.getters['editor/selectedElementData'];
    },
  },
  watch: {
    selectedElement(val) {
      this.selectedFontWeight = _.get(val, 'styles.font-weight', null);
    },
  },
  mounted() {
    // eslint-disable-next-line
    this.selectedFontWeight = _.get(this.selectedElement, 'styles.font-weight', null);
  },
  methods: {
    onFontWeightSelected(weight) {
      if (this.disabled) {
        return;
      }
      this.selectedFontWeight = weight;
      // TODO: save intro "pending changes history" before to persist it.
      this.$store.dispatch('editor/postMessage', {
        name: 'applyStyleOnElement',
        value: { attribute: 'fontWeight', value: weight },
      });
    },
  },
};
</script>

<style lang="stylus">
.font-weight-manager__wrap.disabled {
  opacity: 0.2;
}
.editor-selector .ant-select-selection {
  background: #373d4a;
  border: 1px solid black;
  color: #fbfcfc;
  height: 28px;
}

.editor-selector .ant-select-selection__rendered {
  line-height: 28px;
}
.font-weight-manager__wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding: 10px 10px 5px 10px;
}
</style>
