<template lang="pug">
div(
  class="line-height-manager__wrap"
  :class="{ disabled: disabled }")
  span(style="margin-right: 10px;")
    a-icon(type="line-height")
  div(
    class="line-height-manager__body")
    a-input-number(
      class="editor-input"
      :disabled="disabled"
      :value="value"
      :formatter="value => value ? `${value}px` : ''"
      :parser="value => value.replace('px', '')"
      :min="0"
      :max="600"
      @input="onValue"
      @change="onValue")
</template>

<script>
import _ from 'lodash';

export default {
  props: {
    disabled: { type: Boolean, default: false },
  },
  data() {
    return {
      value: '',
    };
  },
  computed: {
    selectedElement() {
      return this.$store.getters['editor/selectedElementData'];
    },
  },
  watch: {
    selectedElement(val) {
      const lh = _.get(val, 'styles.line-height', null);
      if (lh) {
        // TODO: test and compute values from other formats.
        // https://developer.mozilla.org/en-US/docs/Web/CSS/line-height
        if (lh.indexOf('px') === -1) {
          this.value = 0;
          return;
        }
        this.value = lh.replace('px', '');
      }
    },
  },
  mounted() {
    // eslint-disable-next-line
    this.value = _.get(this.selectedElement, 'styles.line-height', null);
  },
  methods: {
    onValue(val) {
      if (this.disabled) {
        return;
      }
      this.value = val;
      // TODO: save intro "pending changes history" before to persist it.
      this.$store.dispatch('editor/postMessage', {
        name: 'applyStyleOnElement',
        value: { attribute: 'lineHeight', value: `${val}px` },
      });
    },
  },
};
</script>

<style lang="stylus">
.line-height-manager__wrap.disabled {
  opacity: 0.2;
}
.editor-input.ant-input-number {
  background: #373d4a!important;
  border: 1px solid black!important;
  height: 28px;
}
.editor-input .ant-input-number-input-wrap {
  color: #fbfcfc;
  height: 28px;
}
.editor-input input {
  height: 28px;
}

.editor-input .ant-input-number-handler-wrap {
  background: #272c37;
  color: #fbfcfc;
  border-color: black;
  &:hover {
    color: #2196f3;
  }
}

.editor-input .ant-input-number-handler-wrap.ant-input-number-handler-down {
  border-color: black;
}

.editor-input .ant-input-number-handler i {
  color: white;
}


.editor-input .ant-input-number-handler-down {
  border-color: black;
}

.editor-input .ant-select-selection__rendered {
  line-height: 28px;
}

.line-height-manager__wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding: 10px 10px 5px 10px;
}
</style>
