<template lang="pug">
div(
  class="text-color-manager__wrap"
  :class="{ disabled: disabled }")
  span(style="margin-right: 10px;")
    a-icon(type="font-colors")
  div(class="text-color-manager__icon-list")
    AppColorPicker(
      :disabled="disabled"
      :color="selectedElementColor"
      @colorSelected="onColorSelected")
</template>

<script>
import _ from 'lodash';
import AppColorPicker from '@/components/AppColorPicker';

export default {
  components: {
    AppColorPicker,
  },
  props: {
    disabled: { type: Boolean, default: false },
  },
  data() {
    return {
      color: '#59c7f9',
    };
  },
  computed: {
    selectedElementColor() {
      return _.get(
        this.$store.getters['editor/selectedElementData'],
        'styles.color',
        'None',
      );
    },
  },
  methods: {
    onColorSelected(color) {
      // TODO: save intro "pending changes history" before to persist it.
      this.$store.dispatch('editor/postMessage', {
        name: 'applyStyleOnElement',
        value: { attribute: 'color', value: color },
      });
    },
  },
};
</script>

<style lang="stylus" scoped>
.text-color-manager__wrap.disabled {
  opacity: 0.2;
}

.text-color-manager__wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding: 10px 10px 5px 10px;
}

.text-color-manager__icon-list {
  display: flex;
  flex-direction: row;
  border-radius: 2px;
}

.text-color-manager__icon {
  padding: 2px;
  width: 50px;
  text-align: center;
  border-right: 1px solid black;
  background: #303441;
  &:last-of-type {
    border: none;
  }
  &:hover {
    background-color: lighten(#303441, 3);
  }
}

.text-color-manager__icon.text-color-manager__icon--active {
  background-color: darken(#303441, 5);
}
</style>
