<template lang="pug">
div(
  class="text-align-manager__wrap"
  :class="{ disabled: disabled }")
  span(style="margin-right: 10px;")
    a-icon(type="menu-fold")
  div(
    class="text-align-manager__icon-list")
    div(
      @click="onAlignmentSelected('left')"
      class="text-align-manager__icon"
      :class="{ 'text-align-manager__icon--active': selectedAlignment === 'left' }")
        a-icon(type="align-left")
    div(
      @click="onAlignmentSelected('center')"
      class="text-align-manager__icon"
      :class="{ 'text-align-manager__icon--active': selectedAlignment === 'center' }")
        a-icon(type="align-center")
    div(
      @click="onAlignmentSelected('right')"
      class="text-align-manager__icon"
      :class="{ 'text-align-manager__icon--active': selectedAlignment === 'right' }")
        a-icon(type="align-right")
</template>

<script>
import _ from 'lodash';

export default {
  props: {
    disabled: { type: Boolean, default: false },
  },
  data() {
    return {
      selectedAlignment: null, // Here to force new value on change
    };
  },
  computed: {
    selectedElement() {
      return this.$store.getters['editor/selectedElementData'];
    },
  },
  watch: {
    selectedElement(val) {
      this.selectedAlignment = _.get(val, 'styles.text-align', null);
    },
  },
  methods: {
    onAlignmentSelected(alignment) {
      if (this.disabled) {
        return;
      }
      this.selectedAlignment = alignment;
      // TODO: save intro "pending changes history" before to persist it.
      this.$store.dispatch('editor/postMessage', {
        name: 'applyStyleOnElement',
        value: { attribute: 'textAlign', value: alignment }, // left, center, right
      });
    },
  },
};
</script>

<style lang="stylus" scoped>
.text-align-manager__wrap.disabled {
  opacity: 0.2;
}

.text-align-manager__wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding: 10px 10px 5px 10px;
}

.text-align-manager__icon-list {
  display: flex;
  flex-direction: row;
  border-radius: 2px;
  border: 1px solid #000;
}

.text-align-manager__icon {
  padding: 2px;
  /* width: 50px; OLD */
  width: 28px;
  text-align: center;
  border-right: 1px solid black;
  background: #303441;
  &:last-of-type {
    border: none;
  }
  &:hover {
    background-color: lighten(#303441, 3);
  }
}

.text-align-manager__icon.text-align-manager__icon--active {
  background-color: darken(#303441, 5);
}
</style>
