<template lang="pug">
div(class="plugin-group__wrapper" @click="$emit('click', name)")
  span(
    class="plugin-group__title"
    :class="{ 'plugin-group__title--active': isActive }") {{ title }}
    a-icon(v-if="isActive" type="caret-down")
    a-icon(v-if="!isActive" type="caret-right")
  div(class="plugin-group__body" v-if="isActive")
    <slot/>
</template>

<script>
export default {
  props: {
    title: { type: String, required: true },
    name: { type: String, required: true },
    isActive: { type: Boolean, default: false },
  },
};
</script>

<style lang="stylus" scoped>
.plugin-group__wrapper {
  border-bottom: 1px solid black;
  background: #3a3f48;
  cursor: default;
}

.plugin-group__body {
  padding-bottom: 20px;
  border-top: 1px solid #1c2027;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.plugin-group__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 7px 10px;
  text-transform: uppercase;
  font-size: 11px;
  color: #9397a2;
  background: #2e333e;
}

.plugin-group__title--active {
  font-weight: bold;
  color: #fff;
}
</style>
