<template lang="pug">
div(class="sem-tab")
  div(class="se__header")
    div
      span Selected Element
      span(class="se-tagname") {{ selectedElementTagName }}
    div(class="se__separator")
    div
      span Selector
      span(class="se-selector-item" v-if="selectedElementSelector") {{ selectedElementSelector }}
      span(class="se-selector-item se-selector-item--inactive" v-else) None
  div(class="right-nav__content")
    PluginsGroup(
      title="Typography"
      name="Typo"
      :isActive="activePluginsGroup === 'Typo'"
      @click="setActivePluginsGroup")
      FontWeightManager(:disabled="noElementSelected")
      TextColorManager(:disabled="noElementSelected")
      FontSizeManager(:disabled="noElementSelected")
      LineHeightManager(:disabled="noElementSelected")
      TextAlignManager(:disabled="noElementSelected")
    PluginsGroup(
      title="Typography"
      name="Typo1"
      :isActive="activePluginsGroup === 'Typo1'"
      @click="setActivePluginsGroup")
      TextAlignManager(:disabled="noElementSelected")
      TextColorManager(:disabled="noElementSelected")
    PluginsGroup(
      title="Typography"
      name="Typo2"
      :isActive="activePluginsGroup === 'Typo2'"
      @click="setActivePluginsGroup")
      TextAlignManager(:disabled="noElementSelected")
      TextColorManager(:disabled="noElementSelected")
</template>

<script>
import RightNavTabPaneBase from '../RightNavTabPaneBase';
import PluginsGroup from './PluginsGroup';
import TextAlignManager from './Plugins/TextAlignManager';
import TextColorManager from './Plugins/TextColorManager';
import FontWeightManager from './Plugins/FontWeightManager';
import LineHeightManager from './Plugins/LineHeightManager';
import FontSizeManager from './Plugins/FontSizeManager';
import _ from 'lodash';

export default {
  components: {
    RightNavTabPaneBase,
    TextAlignManager,
    TextColorManager,
    FontWeightManager,
    LineHeightManager,
    FontSizeManager,
    PluginsGroup,
  },
  data() {
    return {
      activePluginsGroup: 'Typo',
    };
  },
  computed: {
    selectedElementTagName() {
      return _.get(
        this.$store.getters['editor/selectedElementData'],
        'tagName',
        'None Selected',
      );
    },
    selectedElementSelector() {
      return _.get(
        this.$store.getters['editor/selectedElementData'],
        'selector',
        null,
      );
    },
    noElementSelected() {
      return !this.selectedElementSelector;
    },
  },
  watch: {},
  methods: {
    setActivePluginsGroup(name) {
      this.activePluginsGroup = name;
    },
  },
};
</script>

<style lang="stylus" scoped>
.se__header {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  background: #4e5565;
  padding: 30px 10px;
  border-bottom: 1px solid #333;
}

.se__separator {
  height: 1px;
  width: 100%;
  background: #424754;
  margin: 10px auto;
}

.right-nav__content {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  overflow-y: auto;
}

.sem-tab {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.se-tagname {
  background: #373c49;
  padding: 3px 5px;
  border-radius: 3px;
  font-weight: bold;
  margin-left: 10px;
  text-transform: lowercase;
}

.se-selector-item {
  background: #2196F3;
  border-radius: 3px;
  font-weight: normal;
  margin-top: 5px;
  padding: 3px 5px;
  color: #fff;
  font-weight: normal;
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.se-selector-item.se-selector-item--inactive {
  background: #747b8a;
}
</style>
