<template lang="pug">
div(
  @click="onClick"
  class="right-nav__top-item"
  :class="isActive ? 'right-nav__top-item--active' : ''")
  <slot/>
</template>

<script>
export default {
  props: {
    isActive: { type: Boolean, default: false },
  },
  methods: {
    onClick() {
      this.$emit('click');
    },
  },
};
</script>

<style lang="stylus" scoped>
.right-nav__top-item {
  border-right: 1px solid #333;
  min-width: 35px;
  display: flex;
  color: #d4d4d4;
  padding: 0 15px;
  height: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 11pt;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  &:hover {
    color: #fff;
  }
}

.right-nav__top-item.right-nav__top-item--active {
  background: #4e5565;
}
</style>
