<template lang="pug">
// RIGHT NAV
div(class="project-editor__right-nav-wrap")
  div(class="right-nav__top-wrap")
    SelectedElementManagerTabPane(
      :isActive="isActive('selectedElementManager')"
      @click="setActive('selectedElementManager')")
    ChangesManagerTabPane(
      :isActive="isActive('another')"
      @click="setActive('another')")
  div(class="right-nav__body")
    SelectedElementManagerTab(v-show="isActive('selectedElementManager')")
    ChangesManagerTab(v-show="isActive('another')")
</template>

<script>
import SelectedElementManagerTabPane from './Plugins/SelectedElementManager/TabPane';
import SelectedElementManagerTab from './Plugins/SelectedElementManager/Tab';
import ChangesManagerTabPane from './Plugins/ChangesManager/TabPane';
import ChangesManagerTab from './Plugins/ChangesManager/Tab';

export default {
  components: {
    SelectedElementManagerTabPane,
    SelectedElementManagerTab,
    ChangesManagerTabPane,
    ChangesManagerTab,
  },
  data() {
    return {
      activeTab: 'selectedElementManager',
    };
  },
  methods: {
    isActive(tabName) {
      return this.activeTab === tabName;
    },
    setActive(tabName) {
      this.activeTab = tabName;
    },
  },
};
</script>

<style lang="stylus" scoped>
$top-nav-height = 37px;
$left-nav-width = 34px;
$right-nav-width = 270px;

.project-editor__right-nav-wrap {
  position: absolute;
  height: 100%;
  width: $right-nav-width;
  top: 0; right: 0; bottom: 0;
  color: #d4d4d4;
  background: #373d49;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-nav__top-wrap {
  height: $top-nav-height + 3;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-left: 1px solid #333;
  justify-content: left;
}

.right-nav__body {
  display: flex;
  height: 100%;
  width: 100%;
}
</style>
