<template lang="pug">
div(class="layout--app")
  app-main-navigation(
    relative
    theme="blue"
    :leftItems="leftItems"
    :rightItems="rightItems")
  div(style=" flex: 1 auto; display: flex; overflow-y: auto;")
    nuxt
</template>

<script>
import AppMainNavigation from '~/components/AppMainNavigation';

export default {
  components: { AppMainNavigation },
  data() {
    return {
      rightItems: [
        {
          name: 'Account',
          type: 'link',
          key: 'account',
          onClick(e) {
            vm.$router.push(vm.localePath('account'));
          },
        },
      ],
      leftItems: [
        {
          name: 'Dashboard',
          routeName: 'dashboard',
          key: 'dashboard',
          onClick() {},
        },
        {
          name: 'Learn',
          routeName: 'learn',
          key: 'learn',
          onClick() {},
        },
        {
          name: 'Support',
          routeName: 'support',
          key: 'support',
          onClick() {},
        },
      ],
    };
  },
};
</script>

<style>
html {
  /* Adjust font size */
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  font-family: 'Lato', sans-serif;
}

body,
#__nuxt,
#__layout,
.layout--app {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

.ant-layout,
.ant-layout-footer {
  background: none !important;
}
</style>
