<template lang="pug">
div(class="layout--default")
  app-main-navigation(
    :leftItems="leftItems"
    :rightItems="rightItems")
  div(style="padding-top: 68px; flex: 1; display: flex;")
    nuxt
</template>

<script>
import AppMainNavigation from '~/components/AppMainNavigation';

export default {
  components: { AppMainNavigation },
  data() {
    const vm = this;
    return {
      rightItems: [
        {
          name: 'Get Started',
          type: 'button',
          key: 'getstarted',
          onClick(e) {
            vm.$router.push(vm.localePath('signup'));
          },
        },
        {
          name: 'Sign in',
          type: 'link',
          key: 'signin',
          onClick(e) {
            vm.$router.push(vm.localePath('signin'));
          },
        },
      ],
      leftItems: [
        {
          name: 'Features',
          key: 'features',
          onClick() {},
        },
        {
          name: 'Pricing',
          key: 'pricing',
          onClick() {},
        },
        {
          name: 'Help',
          key: 'help',
          onClick() {},
        },
      ],
    };
  },
};
</script>

<style>
html {
  /* Adjust font size */
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  font-family: 'Lato', sans-serif;
}

body,
#__nuxt,
#__layout,
.layout--default {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-x: hidden;
}

.ant-layout,
.ant-layout-footer {
  background: none !important;
}
</style>
