<template lang="pug">
div(class="layout--editor")
  nuxt
</template>

<script>
</script>

<style>
html {
  /* Adjust font size */
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  font-family: 'Lato', sans-serif;
}

body,
#__nuxt,
#__layout,
.layout--editor {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
</style>
