<template lang="pug">
div
  h1 This route is visible by authenticated users only.
</template>

<script>
import api from '~/api';

export default {
  middleware: 'auth',
  async mounted() {
    const res = await api.settings.getSettingsByUserId(
      this.$store.getters['auth/uid'],
    );
    this.handleUserSettings(res);
  },
  methods: {
    handleUserSettings(settings) {
      if (!settings) {
        this.$router.push(this.localePath('onboarding'));
      }
    },
  },
};
</script>

<style lang="stylus">
</style>
