<template lang="pug">
div(style="background: #F6FAFF; overflow-y: auto; width: 100%;")
  app-main-navigation(
    relative
    :logo="false"
    :leftItems="leftItems"
    :rightItems="rightItems")
  app-container(
    size="medium"
    style="display: flex; flex-wrap: wrap; flex: 1; flex-direction: row; justify-content: left;")
    AppProjectItemCard(
      v-for="project in projects"
      @openEditorClicked="$router.push(localePath({ name: 'project-id-editor', params: { id: project.id } }));"
      :key="project.id"
      :name="project.name"
      :websiteUrl="project.websiteUrl"
      :published="project.published")
</template>

<script>
import AppMainNavigation from '~/components/AppMainNavigation';
import AppContainer from '~/components/AppContainer';
import AppProjectItemCard from '~/components/AppProjectItemCard';
import api from '~/api';

export default {
  layout: 'app',
  components: {
    AppMainNavigation,
    AppContainer,
    AppProjectItemCard,
  },
  async asyncData({ store }) {
    const projects = await api.projects.getAllProjectByUserId(
      store.getters['auth/uid'],
    );
    return { projects };
  },
  data() {
    const vm = this;
    return {
      visible: false,
      leftItems: [
        {
          name: 'Dashboard',
          key: 'dashboard',
          type: 'title',
        },
      ],
      rightItems: [
        {
          name: 'New project',
          type: 'button',
          iconLeft: 'plus',
          key: 'getstarted',
          onClick(e) {
            vm.$router.push(vm.localePath('project-create'));
          },
        },
      ],
    };
  },
  methods: {
    avatarLetters(name) {
      if (name.length >= 2) {
        return name.substring(0, 2);
      } else if (name.length === 1) {
        return name.substring(0, 1);
      }
      return '';
    },
  },
};
</script>

<style lang="stylus" scoped>
</style>
