<template lang="html">
  <!-- eslint-disable -->
  <div class="home-main-screen__container">
    <div class="home-main-screen__bg"></div>
    <AppSection theme="transparent">
      <AppContainer>
        <div class="main-intro-wrap">
          <AppHeading
            tag-name="h1"
            class="main-heading">
            Make any website
            <span class="yellow-underline">
              Editable
            </span><br>
            with one line of code
          </AppHeading>
          <p class="main-intro">
            <strong>Click here</strong> to test the inline rich text editor. This entire page is a demo.
          </p>
          <div>
            <div class="home__cta-button">Start now for free 🔥</div>
          </div>
        </div>
      </AppContainer>
    </AppSection>
    <AppSection class="full-screen" theme="transparent">
      <AppContainer style="padding: 20px">
        
      </AppContainer>
    </AppSection>
  </div>
</template>

<script>
import AppContainer from '@/components/AppContainer';
import AppSection from '@/components/AppSection';
import AppHeading from '@/components/AppHeading';

/* eslint-disable */
export default {
  components: { AppContainer, AppSection, AppHeading },
}
</script>

<style scoped>
.body {
  overflow-x: hidden;
}

.home__cta-button {
  border-radius: 5px;
  padding: 15px;
  width: 300px;
  color: #ffffff;
  font-size: 13pt;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  background: #377fea;
}
.yellow-underline {
  background: #fbd177;
  height: 8px;
  color: #fff;
}
.main-intro-wrap {
  position: absolute;
  max-width: 1280px;
}
.home-main-screen__container {
  flex: 1;
}
.home-main-screen__bg {
  position: absolute;
  top: 0; right: 0; bottom: 0;
  width: 45%;
  background: url('~assets/images/home-intro-bg.svg');
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}
.main-heading {
  color: #1f2577;
  font-family: 'Lato', sans-serif;
  font-size: 43pt;
  font-weight: 300;
  text-align: left;
  line-height: 55pt;
  margin-bottom: 20px;
}
.main-intro {
  color: #0b3154;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16pt;
  text-align: left;
  margin-bottom: 50px;
  max-width: 400px;
}
</style>
