<template lang="pug">
app-container(size="full" style="background: #F6FAFF;")
  app-main-navigation(
    transparent
    :rightItems="rightItems")
  app-section(
    theme="transparent")
    app-multiple-steps-simple-form(
      style="max-width: 800px; margin: 0 auto;"
      jumbotronStyle=""
      formStyle="width: 80%;"
      :steps="steps"
      @onLastStep="handleSubmit"
      @onError="handleError")
</template>

<script>
import { mapActions } from 'vuex';
import { Firebase } from '~/plugins/firebase';
import AppContainer from '~/components/AppContainer';
import AppHeading from '~/components/AppHeading';
import AppIntro from '~/components/AppIntro';
import AppButton from '~/components/AppButton';
import AppSection from '~/components/AppSection';
import AppSpacer from '~/components/AppSpacer';
import AppMainNavigation from '~/components/AppMainNavigation';
import AppJumbotron from '~/components/AppJumbotron';
import AppSimpleForm from '~/components/AppSimpleForm';
import AppMultipleStepsSimpleForm from '~/components/AppMultipleStepsSimpleForm';

export default {
  layout: 'fullpage',
  components: {
    AppContainer,
    AppButton,
    AppHeading,
    AppSection,
    AppIntro,
    AppMainNavigation,
    AppJumbotron,
    AppSpacer,
    AppSimpleForm,
    AppMultipleStepsSimpleForm,
  },
  data() {
    const vm = this;
    return {
      loading: false,
      steps: [
        {
          heading: 'Why would use use Editable for?',
          key: 'profileJob',
          type: 'multiple-image-choices',
          submitButtonText: 'Continue',
          minSelected: 1,
          options: [
            {
              width: '320px',
              key: 'developer',
              label: "For my client's project(s)",
              description: `I want to install it for my client(s) 
              or my own project(s).`,
              image: require('~/assets/images/signup-people-devs.svg'),
              value: 'developer',
            },
            {
              width: '320px',
              key: 'content-writer',
              label: 'For my personnal projects',
              description: `I need it to manage the content of my website 
              or app without hassles.`,
              image: require('~/assets/images/signup-bg.svg'),
              value: 'content-writer',
            },
          ],
        },
      ],
      rightItems: [],
    };
  },
  methods: {
    handleSubmit(res) {
      console.log('submit', res);
      this.$router.push(this.localePath({ name: 'project-editor' }));
    },
    handleError(res) {
      console.log('error', res);
    },
  },
};
</script>

<style lang="stylus" scoped>
</style>
