<template lang="pug">
div
  h1 Proof of concept
  vue-friendly-iframe(
    src="http://app.alixe.co"
    className="iframe")
</template>

<script>
import VueFriendlyIframe from 'vue-friendly-iframe';

export default {
  components: { VueFriendlyIframe },
};
</script>

<style lang="stylus">
.vue-friendly-iframe {
  position: absolute;
  left: 0px;
  right: 28%;
  top: 46px;
  bottom: 0px;
  height: 100%;
}

.iframe {
  width: 100%;
  height: 100%;
}
</style>
