<template lang="pug">
div(class="signup__page")
  app-main-navigation(
    transparent
    :rightItems="rightItems")
  div(class="signup__left-side")
  div(class="signup__right-side")
    app-section(
      theme="transparent")
      app-heading(theme="primary" tag-name="h1" size="large") {{ $t('signupPage.title')}}
      app-intro(tagName="p" size="small") Join Editable for free and start editing any website in seconds.
      app-jumbotron(style="width: 350px; padding: 40px;")
        app-simple-form(
          style="width: 290px;"
          :fields="fields"
          :submitButtonText="$t('signupPage.basicSignUpAction')"
          submitIconRight="right"
          :loading="loading"
          @onSubmit="handleSubmit")
</template>

<script>
import { mapActions } from 'vuex';
import { Firebase } from '~/plugins/firebase';
import AppContainer from '~/components/AppContainer';
import AppHeading from '~/components/AppHeading';
import AppIntro from '~/components/AppIntro';
import AppButton from '~/components/AppButton';
import AppSpacer from '~/components/AppSpacer';
import AppSection from '~/components/AppSection';
import AppMainNavigation from '~/components/AppMainNavigation';
import AppSimpleForm from '~/components/AppSimpleForm';
import AppJumbotron from '~/components/AppJumbotron';

export default {
  layout: 'fullpage',
  components: {
    AppContainer,
    AppButton,
    AppSpacer,
    AppHeading,
    AppIntro,
    AppSection,
    AppMainNavigation,
    AppSimpleForm,
    AppJumbotron,
  },
  data() {
    const vm = this;
    return {
      loading: false,
      rightItems: [
        {
          key: 'alreadyhaveaccount',
          type: 'html',
          onClick() {
            vm.$router.push(vm.localePath('signin'));
          },
          html: `
          <span style="cursor: pointer"> Already have an account? <a>Login</a>
          </span>`,
        },
      ],
      fields: [
        {
          type: 'input',
          key: 'firstname',
          placeholder: 'Firstname',
          icon: 'solution',
          options: {
            rules: [
              {
                required: true,
                message: 'Please input your firstname!',
              },
            ],
          },
        },
        {
          type: 'input',
          key: 'lastname',
          placeholder: 'Lastname',
          icon: 'solution',
          options: {
            rules: [
              {
                required: true,
                message: 'Please input your firstname!',
              },
            ],
          },
        },
        {
          type: 'input',
          key: 'email',
          placeholder: 'Email',
          icon: 'inbox',
          options: {
            rules: [
              {
                required: true,
                message: 'Please input your password!',
              },
            ],
          },
        },
        {
          type: 'input',
          key: 'password',
          inputType: 'password',
          placeholder: 'Password',
          icon: 'lock',
          options: {
            rules: [
              {
                required: true,
                message: 'Please input your password',
              },
            ],
          },
        },
      ],
    };
  },
  methods: {
    ...mapActions('auth', ['login']),
    async handleGithub() {
      try {
        // Handle Here
        // TODO: Firebase is not working here. We should use auth module.
        // Doc: https://auth.nuxtjs.org/getting-started/setup
      } catch {
        // Handle Error
      }
    },
    handleSignupError(e) {
      switch (e.code) {
        case 'auth/email-already-in-use':
          this.$message.error('This email is already taken');
          break;
        default:
          this.$message.error('An error occurred');
      }
    },
    async createUserWithEmailAndPassword(email, password) {
      this.loading = true;
      try {
        const result = await Firebase.auth().createUserWithEmailAndPassword(
          email,
          password,
        );
        await this.login(result.user);
        this.$message.success('Account created!');
        this.$router.push(this.localePath('authenticated'));
      } catch (e) {
        this.handleSignupError(e);
      }
      this.loading = false;
    },
    async handleSubmit({ email, password }) {
      this.createUserWithEmailAndPassword(email, password);
    },
  },
};
</script>

<style lang="stylus" scoped>
.signup__page {
  background: #F6FAFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
  overflow-y: auto;
}

.left-side__title {
  
}

.signup__left-side {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 60%;
  background: url('~assets/images/signup-bg.svg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

.signup__right-side {
  width: 40%;
  flex: 1;
}

.signup-form__input {
  max-width: 500px;
}
</style>
