<template lang="pug">
app-container(size="full" style="background: #F6FAFF;")
  app-main-navigation(
    transparent
    :rightItems="rightItems")
  app-section(
    theme="transparent")
    div(style="display: flex; align-items: center; flex-direction: column;justify-content: center;height: 100px;")
      app-heading(theme="normal" size="large" tag-name="h1") {{ $t('signinPage.title')}}
      app-intro(tagName="span" size="small") Login to your account and start editing your website.
    app-jumbotron(style="width: 350px; padding: 40px; margin-left: auto; margin-right: auto;")
      app-simple-form(
        style="width: 290px;"
        :fields="fields"
        :submitButtonText="$t('signinPage.basicSignInAction')"
        submitIconRight="right"
        :loading="loading"
        @onSubmit="handleSubmit")
</template>

<script>
import { mapActions } from 'vuex';
import { Firebase } from '~/plugins/firebase';
import AppContainer from '~/components/AppContainer';
import AppHeading from '~/components/AppHeading';
import AppIntro from '~/components/AppIntro';
import AppButton from '~/components/AppButton';
import AppSpacer from '~/components/AppSpacer';
import AppSection from '~/components/AppSection';
import AppMainNavigation from '~/components/AppMainNavigation';
import AppSimpleForm from '~/components/AppSimpleForm';
import AppJumbotron from '~/components/AppJumbotron';

export default {
  layout: 'fullpage',
  components: {
    AppContainer,
    AppButton,
    AppSpacer,
    AppHeading,
    AppSection,
    AppIntro,
    AppMainNavigation,
    AppSimpleForm,
    AppJumbotron,
  },
  data() {
    const vm = this;
    return {
      fields: [
        {
          type: 'input',
          key: 'email',
          placeholder: 'Email',
          icon: 'inbox',
          options: {
            rules: [
              {
                required: true,
                message: 'Please input your password!',
              },
            ],
          },
        },
        {
          type: 'input',
          key: 'password',
          inputType: 'password',
          placeholder: 'Password',
          icon: 'lock',
          options: {
            rules: [
              {
                required: true,
                message: 'Please input your password',
              },
            ],
          },
        },
      ],
      loading: false,
      rightItems: [
        {
          key: 'alreadyhaveaccount',
          type: 'html',
          onClick() {
            vm.$router.push(vm.localePath('signup'));
          },
          html: `
          <span style="cursor: pointer">Don't have an account? <a>Get started</a>
          </span>`,
        },
      ],
    };
  },
  methods: {
    ...mapActions('auth', ['login']),
    async handleGithub() {
      try {
        // Handle Here
        // TODO: Firebase is not working here. We should use auth module.
        // Doc: https://auth.nuxtjs.org/getting-started/setup
      } catch {
        // Handle Error
      }
    },
    async signInWithEmailAndPassword(email, password) {
      this.loading = true;
      try {
        const result = await Firebase.auth().signInWithEmailAndPassword(
          email,
          password,
        );
        await this.login(result.user);
        this.$router.push(this.localePath({ name: 'authenticated' }));
        this.$message.success('Welcome back!');
      } catch {
        // handle error
        this.$message.error('Wrong username or password');
      }
      this.loading = false;
    },
    async handleSubmit({ email, password }) {
      this.signInWithEmailAndPassword(email, password);
    },
  },
};
</script>

<style lang="stylus" scoped>

.login-form__input {
  max-width: 500px;
}
</style>
