<template lang="pug">
TopNavItemBase()
  a-icon(
    v-if="isModeEdition" 
    type="eye" 
    style="margin-right: 10px;" 
    @click="toggleEditionMode")
  a-icon(
    v-if="!isModeEdition" 
    type="edit" 
    style="margin-right: 10px;" 
    @click="toggleEditionMode")
</template>

<script>
import Firebase from '~/plugins/firebase';
import TopNavItemBase from './TopNavItemBase';

export default {
  components: {
    TopNavItemBase,
  },
  props: {},
  computed: {
    isModeEdition() {
      return this.$store.getters['editor/isModeEdition'];
    },
  },
  methods: {
    toggleEditionMode() {
      this.$store.dispatch('editor/toggleEditionMode');
    },
  },
};
</script>

<style lang="stylus" scoped>
</style>
