<template lang="pug">
TopNavItemBase()
  div(v-if="!sessionConnected")
    a-icon(type="loading" spin style="margin-right: 10px;")
    span Waiting script connection...
  div(v-else)
    a-icon(type="check-circle" style="margin-right: 10px;")
    span Editor Ready!
</template>

<script>
import TopNavItemBase from './TopNavItemBase';

export default {
  components: {
    TopNavItemBase,
  },
  data() {
    return {
      sessionConnected: false,
    };
  },
  computed: {
    sessionId() {
      return this.$store.getters['editor/sessionId'];
    },
  },
  watch: {
    sessionId(sessionId) {
      this.initSessionConnection(this.sessionId);
    },
  },
  methods: {
    initSessionConnection(sessionId) {
      console.log('Send SessionID', sessionId);
      const intervalId = setInterval(() => {
        this.$store.dispatch('editor/postMessage', {
          name: 'setupEditor',
          metadata: { auth: sessionId },
        });
      }, 1000);
      const vm = this;
      window.addEventListener('message', event => {
        const message = event.data;
        if (message.name === 'clientEditorReady') {
          console.log('sessionId', sessionId, message);
          if (!message.auth || message.auth !== sessionId) {
            console.log('NICE TRY', message, sessionId);
            // TODO SOLVE THIS SECURITY ISSUE !
          } else {
            vm.sessionConnected = true;
            window.clearInterval(intervalId);
          }
        }
      });
    },
  },
};
</script>

<style lang="stylus" scoped>
</style>
