<template lang="pug">
div(class="project-editor__top-nav-item")
  <slot/>
</template>

<script>
export default {};
</script>

<style lang="stylus" scoped>
.project-editor__top-nav-item {
  border-right: 1px solid #333;
  min-width: 35px;
  display: flex;
  color: #a0aabf;
  padding: 0 15px;
  height: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 11pt;
  
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  
  &:hover {
    color: #fff;
  }
}
</style>
