<template lang="pug">
div(style="background: #282d38; overflow: hidden; width: 100%; height: 100%;")
  div(v-if="loading" class="project-creator-wrap")
    app-heading(tagName="span" size="medium" theme="light") Initializing New Project...
    a-icon(type="loading" spin style="font-size: 40pt;")
</template>

<script>
import AppHeading from '~/components/AppHeading';
import api from '~/api';

export default {
  layout: 'fullpage',
  components: {
    AppHeading,
  },
  data() {
    const vm = this;
    return {
      loading: true,
    };
  },
  mounted() {
    this.initNewProject();
  },
  methods: {
    async initNewProject() {
      this.loading = true;
      const project = await api.projects.createProject({
        name: 'My Brand New Project',
        websiteUrl: false,
        userId: this.$store.getters['auth/uid'],
      });
      setTimeout(() => {
        this.loading = false;
        this.$router.replace(
          this.localePath({
            name: 'project-id-editor',
            params: {
              id: project.id,
            },
          }),
        );
      }, 2000);
    },
  },
};
</script>

<style lang="stylus" scoped>
.project-creator-wrap {
  position: absolute;
  left: 0;
  right: 0px;
  top: 0;
  bottom: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
</style>
