<template lang="pug">
// LEFT NAV
div(class="project-editor__left-nav-wrap")
  div(
    class="project-editor__left-nav-item"
    @click="$router.push(localePath({ name: 'dashboard' }));")
    a-icon(type="menu-unfold")
  div(class="project-editor__left-nav-item")
    a-icon(type="home")
</template>

<script>
export default {
  props: {
    //
  },
};
</script>

<style lang="stylus" scoped>
$top-nav-height = 37px;
$left-nav-width = 34px;
$right-nav-width = 270px;


.project-editor__left-nav-wrap {
  position: absolute;
  height: 100%;
  width: $left-nav-width;
  top: 0; left: 0; bottom: 0;
  color: #a0aabf;
  background: #373d49;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-editor__left-nav-item {
  border-bottom: 1px solid #333;
  height: 38px;
  width: $left-nav-width;
  display: flex;
  color: #a0aabf;
  padding: 15px 0;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 11pt;
  
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  
  &:hover {
    color: #fff;
  }
}
</style>
