<template lang="pug">
div(class="sem-tab")
  div(class="se__header")
    div
      span All replacements
  div(class="right-nav__content")
    ReplacementsList()
</template>

<script>
import _ from 'lodash';
import ReplacementsList from './Plugins/ReplacementsList';

export default {
  components: { ReplacementsList },
  props: {
    isActive: { type: Boolean, default: false },
  },
  data() {
    return {};
  },
  computed: {
    selectedElementTagName() {
      return _.get(
        this.$store.getters['editor/selectedElementData'],
        'tagName',
        'None Selected',
      );
    },
    selectedElementSelector() {
      return _.get(
        this.$store.getters['editor/selectedElementData'],
        'selector',
        null,
      );
    },
    noElementSelected() {
      return !this.selectedElementSelector;
    },
  },
  watch: {},
  methods: {},
};
</script>

<style lang="stylus" scoped>
.se__header {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  background: #4e5565;
  padding: 30px 10px;
  border-bottom: 1px solid #333;
}

.se__separator {
  height: 1px;
  width: 100%;
  background: #424754;
  margin: 10px auto;
}

.right-nav__content {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  overflow-y: auto;
}

.sem-tab {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.se-tagname {
  background: #373c49;
  padding: 3px 5px;
  border-radius: 3px;
  font-weight: bold;
  margin-left: 10px;
  text-transform: lowercase;
}

.se-selector-item {
  background: #2196F3;
  border-radius: 3px;
  font-weight: normal;
  margin-top: 5px;
  padding: 3px 5px;
  color: #fff;
  font-weight: normal;
  display: block;
}

.se-selector-item.se-selector-item--inactive {
  background: #747b8a;
}
</style>
