<template lang="pug">
RightNavTabPaneBase(
  :isActive="isActive"
  @click="onClick")
  div()
    a-icon(type="retweet")
</template>

<script>
import RightNavTabPaneBase from '../RightNavTabPaneBase';

export default {
  components: {
    RightNavTabPaneBase,
  },
  props: {
    isActive: { type: Boolean, default: false },
  },
  data() {
    return {};
  },
  computed: {},
  watch: {},
  methods: {
    onClick() {
      this.$emit('click');
    },
  },
};
</script>

<style lang="stylus" scoped>
</style>
